<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">Select User</label>
        <div class="col-sm-6">
            <select class="form-control" ng-model="user" ng-options="user as user.name for user in data.users"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Select Date Range</label>
        <div class="col-sm-6">
            <input type="date" ng-model="dateStart"> to <input type="date" ng-model="dateEnd">
            <button class="btn btn-danger" ng-click="orderLookup(user, dateStart, dateEnd)">Order Lookup</button>
        </div>
    </div>
</div>

<div ng-show="data.orderLookupBoolean">
    <br>
    <h4>{{user.name}}'s orders</h4>

    <ul>
        <li class="orderNumber">Order #</li>
        <li>Order Date</li>
        <li class="orderAmt">Order Amount($)</li>
        <li>Shipping address</li>
    </ul>

    <ul ng-repeat="order in data.orderLookup" class="orders">
        <li class="orderNumber">{{order.order_id}}</li>
        <li>{{order.order_date | date:'medium'}}</li>
        <li class="orderAmt">${{order.amount}}</li>
        <li>
            <address>
                {{order.name}}<br>
                {{order.address_street}}<br>
                {{order.address_city}}, {{order.address_state}} {{order.address_zip}}
            </address>
        </li>
    </ul>

    <ul>
        <li class="orderNumber"></li>
        <li><strong>Total:</strong></li>
        <li class="orderAmt"><strong>${{data.orderTotal}}</strong></li>
        <li></li>
    </ul>
</div>